<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<div class="input-group col-lg-4 col-lg-offset-4" >
  
    <input  [(ngModel)]='getData' class="form-control" placeholder="Search">
     <div class="input-group-btn">
      <button   (click)='getWeatherData()' class="btn btn-default" >
        <i class="glyphicon glyphicon-search"></i>
      </button>
    </div>
 
  </div>

<table>
  <tr>
    <th>City :</th>
    <td>{{weather.city.name}}</td>
  </tr>
  
  <tr> 
    <th>Country :</th> 
    <td>{{weather.city.country}}</td>
  </tr>
</table>
<div *ngIf='arrayItems'>
<app-weather-pane [inputArray]='arrayItems' ></app-weather-pane>
</div>
  